<% layout('layouts/boilerplate') %> <%- include('partials/navbar')%>

<link rel="stylesheet" href="../stylesheets/createTest.css" />

<style>
   #questions {
      height: 45vh;
   }

   .color {
      color: #4e657e;
      font-size: 20px;
   }
</style>

<%#- include('partials/navbar')%>

<!-- We will put our React component inside this div. -->
<div id="root"></div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script
   src="https://unpkg.com/react@16/umd/react.development.js"
   crossorigin
></script>
<script
   src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
   crossorigin
></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
   src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
   integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
   crossorigin="anonymous"
   referrerpolicy="no-referrer"
></script>

<script>
   const resultId = '<%-resultId%>';
   const testId = '<%-testId%>';
   const testName = '<%-testName%>';
   const negativeMarks = '<%-negativeMarks%>';
   const testTotalMarks = '<%-testTotalMarks%>';
</script>

<!-- Load our React component. -->
<script type="text/babel" src="../components/Result.js"></script>
